dtd.dtd

<!ELEMENT Osoba (PunoIme,DatumRodjenja,Adresa,Email+)>
<!ELEMENT PunoIme (Ime, SrednjeIme?, Prezime+)>
<!ELEMENT DatumRodjenja (Dan, Mesec, Godina)>
<!ELEMENT Adresa (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Ime (#PCDATA)>
<!ELEMENT SrednjeIme (#PCDATA)>
<!ELEMENT Prezime (#PCDATA)>
<!ELEMENT Dan (#PCDATA)>
<!ELEMENT Mesec (#PCDATA)>
<!ELEMENT Godina (#PCDATA)>
<!ATTLIST Adresa tip (Privremena | Stalna) "Privremena">
<!ATTLIST Email tip (Sluzbeni | Privatni) #IMPLIED>